@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-uniquifier {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* -----------------------------------------    Google-fonts    ----------------------------------------- */


/* ---------------------------------------     Shared-classes     --------------------------------------- */
.display-flex {
    display: flex;
}

.light-orange-bg {
    background-color: rgba(255, 144, 14, 0.1);
}

.dark-01 {
    color: rgba(19, 19, 19, 1);
}

.dark-02 {
    color: rgba(66, 66, 66, 1);
}

.dark-03 {
    color: rgba(114, 114, 114, 1);
}

.all-h3 {
    font-size: 2.8rem;
    width: 100%;
}

.all-para {
    font-size: 1.2rem;
    width: 100%;
}

.alingment-center {
    max-width: 1440px;
    margin: 0 auto;
}

.primary-sec {
    margin-top: 130px;
}
/* ---------------------------------------     Shared-classes     --------------------------------------- */


/* -----------------------------------------    aling-center    ----------------------------------------- */
.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 0;
}

/* ---alingment center--- */
/* -----------------------------------------    aling-center    ----------------------------------------- */


/* ---------------------------------------------    body    --------------------------------------------- */


/* ---------------------------------------------   navbar   --------------------------------------------- */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-brand {
    font-size: 2rem;
    font: 700;
}

.nav-item {
    list-style: none;
    font-size: 1rem;
    margin-left: 35px;
}

.nav-link {
    text-decoration: none;
    font-size: 1rem;
}
/* ---------------------------------------------   navbar   --------------------------------------------- */


/* ---------------------------------------------   banner   --------------------------------------------- */
.banner-text-sec {
    max-width: 862px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.button-primary {
    background-color: rgba(255, 144, 14, 1);
    color: white;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 8px;
    font-size: 1.25rem;
    border: none;
}

.banner-img-size {
    width: 100%;
    padding: 46px 0px;
}

.foot-sec {
    max-width: 1440px;
    margin: 0 auto;
}

/* ---------------------------------------------   banner   --------------------------------------------- */


/* ---------------------------------------------   footer   --------------------------------------------- */
.foot-sec {
    margin-top: 130px;
    margin-bottom: 130px;
}

.foot-para {
    font-size: 1rem;
    text-align: center;
    padding: 40px 0;
}

/* ---------------------------------------------   footer   --------------------------------------------- */


/* ---------------------------------------------    body    --------------------------------------------- */


/* responsive media queery */
@media screen and (max-width: 576px) {

    .navbar,
    .nav-link {
        flex-direction: column;
    }

}

/* responsive media queery */